@use "../custom" as *;
@use "../components/mixins" as *;

.intro-section {
  @include gradient;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6)),
    url("../../images/arts/intro-section-hands-typing-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem; /* 45rem; 100%; */
  padding: 8rem 0 0 0;
  width: 100%;
  height: 100%;
}

.circle-container {
  width: 200px; /* Set the width and height to your desired circle size */
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.circle-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  object-position: center; /* Center the image */
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }

  &--border-2 {
    animation-delay: 1.5s;
  }
}
